! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: grey
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher,url-select
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.background: [75]#000000
urxvt*matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]


! ctrl+shift+c/p like GNOME terminal
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! disable the previous keybindings
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt*font: xft:Droid Sans Mono for Powerline:size=10:antialias=true
!URxvt*font: xft:Droid Sans Mono Dotted for Powerline:size=10:antialias=true
!URxvt*font: xft:DejaVu Sans Mono for Powerline:size=10:antialias=true
!URxvt*font: xft:Go Mono for Powerline:size=10:antialias=true

*background:            #002b36
*foreground:            white
*cursorColor:           #93a1a1
*pointerColorBackground:#586e75
*pointerColorForeground:#93a1a1
*color0: 	              #000000
*color1: 	              red
*color2: 	              #196f3d
*color3: 	              #eab93d
*color4: 	              #204a87
*color5: 	              #ce5c00
*color6: 	              #89b6e2
*color7: 	              #cccccc
*color8: 	              #555753
*color9: 	              #dc322f
*color10: 	            green
*color11: 	            #ffc123
*color12: 	            #3465a4
*color13: 	            #f57900
*color14: 	            cyan
*color15: 	            white
